*__pycache__*
src/logs*
data/*.pt
src/*.txt
src/results/*/*.npy
src/results/*/*.ckpt
src/results/*
src/nino_logs/
src/*.npy
src/logs
src/logs/*
src/logs_report/*
src/oldlogs/*
*.mp4
notebooks/*.mp4
src/*.mp4
.DS_Store
data/*